@model IEnumerable<SoftinnBookingSystem.Models.Vehicle>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row">
    <div class="col-sm-12">
        <div class="page-header">
            <h5 class="page-title" style="display: inline;">📚 Vehicle</h5>
            <a href="/Vehicle/Create" class="btn btn-primary waves-effect waves-light" style="display: inline;">Add New</a>
            <div class="clearfix"></div>
        </div>
    </div>
</div>


<style>

    #Vehicle_filter {
        float: left !important;
    }
</style>






@if (Model != null) // Check if the model is not null
{

    <div class="card-body">
        <div class="row">
            <div class="col-md-12">
             

                <table class="table table-hover table-bordered table-condensed" id="Vehicle">
                    <thead>
                        <tr>

                            <th>Vehicle Name</th>
                            <th>Length</th>
                            <th>Width</th>
                            <th>Hieght</th>
                            <th>Weight Capacity</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody id="myTable">

                        @foreach (var Vehicle in Model)
                        {
                            <tr>

                                <td>@Vehicle.VehicleName</td>
                                <td>@Vehicle.Length</td>
                                <td>@Vehicle.Width</td>
                                <td>@Vehicle.Hieght</td>
                                <td>@Vehicle.WeightCapacity</td>
          
                                <td>
                                    <button type="button" class="btn btn-primary" onclick="location.href='/Vehicle/Edit?id=@Vehicle.VehicleID'">Edit</button>
                                    <button type="button" class="btn btn-primary" id="@Vehicle.VehicleID" onclick="DeleteButtonclicked(this)">Delete</button>
                                </td>
                            </tr>
                        }

                    </tbody>

                </table>
            </div>
            <!-- /.col-md-12 -->
        </div>
        <!-- /.row -->
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Bootbox JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.min.js"></script>

}
else
{
    <p>No data available.</p> <!-- Display a message if the model is null -->
}




<script>
   

    function DeleteButtonclicked(object) {
        bootbox.confirm({
            size: "small",
            message: "Are you sure to delete the selected record?",
            callback: function (result) {
                if (result == true) {
                    jQuery.ajax({
                        url: '/Vehicle/Delete',
                        type: 'POST',
                        dataType: 'json',
                        data: { id: object.id },
                        success: function () {
                            $("#" + object.id).closest('tr').remove(); // Remove the deleted row from the table
                            $("#Vehicle").DataTable().draw(); // Redraw the DataTable
                        },
                        error: function () {
                            /*  alert('error');*/
                        }
                    });
                }
                else {
                    // Do nothing if user cancels the deletion
                }
            }
        });
    }
</script>





