@model SoftinnBookingSystem.Models.Brooker
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Brooker</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="Home/Index">Home</a></li>
                    <li class="breadcrumb-item active">Brooker</li>
                </ol>
            </div>
        </div>
    </div>-->
<!-- /.container-fluid -->
<!--</section>-->

@Html.AntiForgeryToken()

<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-md-12">
                <!-- general form elements -->
                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Broker<small>(New)</small></h3>
                    </div>
                    <div class="card-body">
                        <div class="box-body">
                            <div class="form-horizontal">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                @Html.HiddenFor(model => model.BrookerID)
                                <div class="row">


                                    <div class="col-md-6">

                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Broker MC #</label>
                                            @*@Html.Label("", htmlAttributes: new { @class = "control-label " })*@
                                            @Html.EditorFor(model => model.BrookerMC, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.BrookerMC, "", new { @class = "text-danger" })

                                        </div>
                                    </div>
                                    <div class="col-md-6">

                                        <div class="form-group">
                                            @Html.Label("Broker USDOT", htmlAttributes: new { @class = "control-label " })
                                            @Html.EditorFor(model => model.BrookerUsDot, new { htmlAttributes = new { @class = "form-control", @id = "BrookerUsDot" } })
                                            @Html.ValidationMessageFor(model => model.BrookerUsDot, "", new { @class = "text-danger" })

                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">

                                        <div class="form-group">
                                            @Html.Label("Broker Business Name", htmlAttributes: new { @class = "control-label required" })
                                            @Html.EditorFor(model => model.BrookerBusinessName, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.BrookerBusinessName, "", new { @class = "text-danger" })
                                        </div>
                                    </div>


                                    <div class="col-md-6">
                                        @Html.Label("Broker Email", htmlAttributes: new { @class = "control-label " })
                                        @Html.EditorFor(model => model.BrookerEmail, new { htmlAttributes = new { @class = "form-control", @id = "Email" } })
                                        @Html.ValidationMessageFor(model => model.BrookerEmail, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6">
                                        @Html.Label("Broker Phone", htmlAttributes: new { @class = "control-label " })
                                        @Html.EditorFor(model => model.BrookerPhone, new { htmlAttributes = new { @class = "form-control", @id = "Phone" } })
                                        @Html.ValidationMessageFor(model => model.BrookerPhone, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-6">
                                        @Html.Label("Broker Fax", htmlAttributes: new { @class = "control-label " })
                                        @Html.EditorFor(model => model.BrookerFax, new { htmlAttributes = new { @class = "form-control", @id = "BrookerFax" } })
                                        @Html.ValidationMessageFor(model => model.BrookerFax, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-12">
                                        @Html.Label("Broker Address", htmlAttributes: new { @class = "control-label " })
                                        @Html.EditorFor(model => model.BrookerAddress, new { htmlAttributes = new { @class = "form-control", @id = "Address" } })
                                        @Html.ValidationMessageFor(model => model.BrookerAddress, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <br />
                                <br />
                                <div class="row">
                                    <div class="col-md-12">
                                        <button type="button" class="btn btn-success float-right" onclick="SaveRecord()">Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- /.card -->
                </div>
                <!--/.col (left) -->
            </div>
            <!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
</section>


<script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.5.2/bootbox.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>





<script>

    function SaveRecord() {
        var Brooker = {}
        Brooker.BrookerID = $("#BrookerID").val();
        Brooker.BrookerMC = $("#BrookerMC").val();
        Brooker.BrookerUsDot = $("#BrookerUsDot").val();
        Brooker.BrookerBusinessName = $("#BrookerBusinessName").val();
        Brooker.BrookerEmail = $("#Email").val();
        Brooker.BrookerPhone = $("#Phone").val();
        Brooker.BrookerFax = $("#BrookerFax").val();
        Brooker.BrookerAddress = $("#Address").val();

        //if (Brooker.BrookerMC == "" || Brooker.BrookerMC == null || Brooker.BrookerMC == 0) {
        //    bootbox.alert("Please Enter BrokerMC#");
        //    return
        //}
        //if (Brooker.BrookerBusinessName == "" || Brooker.BrookerBusinessName == null || Brooker.BrookerBusinessName == 0) {
        //    bootbox.alert("Please Enter Brooker Business Name");
        //    return
        //}
        $.ajax({
            type: "POST",
            url: "/Brooker/Create",
            data: JSON.stringify({ Brooker }),
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (r) {
               /* console.log(r); // Log the response for debugging*/
                window.location.href = "/Brooker/Index";
            },
            error: function (x, e) {
              /*  console.log(e); // Log any errors for debugging*/
                // Handle errors here
            }
        });
    }

</script>

